.SpinPage {
     position: relative;

     display: flex;
     flex-direction: column;
     align-items: center;
}
.loading {
     text-align: center;
     font-size: 2rem;
}

.wheelContainer {
     margin-bottom: 15px;
}
.spinButton {
     margin-bottom: 28px;

     border-radius: 28px;

     padding: 12px 14px;

     background: var(--accient-gradient);

     color: black;
     font-weight: 600;
     font-size: 1.063rem;
}
.spinButton:disabled {
     cursor: not-allowed;
     transform: none;

     background: var(--green-20);
}
.description {
     max-width: 288px;

     font-weight: 300;
     font-size: 0.875rem;
}
