.PrizesPage {
}
.noData {
     text-align: center;
     line-height: 1.5;
}
.heading {
     margin-bottom: 15px;

     font-size: 1.5rem;
     font-weight: 500;
     text-align: center;
}
.prize {
     margin-bottom: 15px;

     padding: 12px;

     border-radius: 12px;

     background-color: var(--green-20);

     display: flex;
     flex-direction: column;
}
.name {
     font-weight: 500;
}
.description {
     margin-bottom: 10px;

     font-size: 0.8rem;
     font-weight: 300;
}
.chance {
     font-style: italic;
     font-size: 0.8rem;
     font-weight: 300;
}
