.MainPage {
}
.allVoutes {
     margin-bottom: 13px;

     display: flex;
     align-items: center;
     flex-direction: column;
}
.allVoutesHeading {
     font-size: 0.75rem;
     font-family: Inter;
     opacity: 0.54;
}
.allVoutesValue {
     font-size: 0.875rem;
     font-weight: 600;
}
