.VoutePage {
     display: flex;
     flex-direction: column;
     align-items: center;
}
.name {
     margin-bottom: 9px;

     opacity: 0.54;

     font-size: 0.75rem;
}
.url {
     margin-bottom: 21px;

     font-size: 0.875rem;
     font-weight: 600;
}
.voute {
     margin-bottom: 33px;

     padding: 12px 14px;

     border-radius: 28px;

     background: var(--accient-gradient);

     color: var(--black-00);
     font-size: 1.063rem;
     font-weight: 600;
}
.voute:disabled {
     transform: none;

     background: var(--green-20);
}

.voute_disabled {
     background: var(--green-20);
}
.voute_disabled:active {
     transform: none;
}
.description {
     max-width: 270px;

     font-weight: 300;
     font-size: 0.875rem;
}

.notification {
     border-radius: 20px;

     background: var(--present-gradient);
}
