@import url("../assets/fonts/Montserrat/Montserrat.css");
@import url("../assets/fonts/Inter/Inter.css");
@import url("./variables.css");
* {
     -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
     margin: 0;

     border: none;

     padding: 0;

     box-sizing: border-box;

     background: transparent;

     font-family: var(--app-font-family);
     font-size: var(--app-font-size);
     text-decoration: none;
     color: var(--white-90);
}

a,
button {
     transition: 0.1s;
}

a:active,
button:active {
     transform: scale(0.9);
}

html,
body,
#root {
     height: 100%;

     background-color: var(--app-background-color);
}
